
	<section class="wrapper">
		<header class="clr">
			<div class="logo"><a href="#"><img src="assets/Vedak/images/logo.png" alt="logo" title="LOGO"></a></div>
			<div class="right-wrap">
				<nav>
					<div class="navigation">
						<div class="main_menu">  
							<ul class="firstul">
								<li><a href="javascript:void(0);">My Projects</a></li>
								<li><a href="javascript:void(0);">Profile</a></li>
								<li><a href="javascript:void(0);">Index</a></li> 
							</ul>
						</div>
					</div>
				</nav>
				<div class="notifications">
					<div class="comments"><a href="javascript:void(0);"><span>6</span></a></div>
					<div class="bell"><a href="javascript:void(0);"><span>3</span></a></div>  
				</div>
				<div class="user">
					<div class="user-detail">
						<div class="user-image"><img src="assets/Vedak/images/no-image.jpg" alt="user-image" width="40" height="40"></div>
						<div class="user-name">
							<b>Komma</b><br><span>abc@abc.com</span> 
						</div>
					</div>
					<div class="on-click-pop" style="display:none;">
						<ul class="clr">
							<li class="clr"><a href="javascript:void(0);">My Account</a></li>
							<li class="clr"><a href="javascript:void(0);">Logout</a></li>  
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section class="content clr">
			<div class="container">
				<h3 class="title clr">post a project</h3>
				<form class="clr form">
					<div class="form-group">
						<label>Project Title</label>
						<input type="text" name="project-title" class="form-control">
						<span class="char-count">(Minimum 30 Characters)</span> 
					</div>
					<div class="form-group">
						<label>Project Description</label> 
						<div class="textarea-img"><img src="assets/Vedak/images/textarea.jpg"></div>
						<textarea name="project-description" class="form-control"></textarea>
						<span class="char-count">(Minimum 250 Characters)</span>
					</div>
					<div class="form-group consultation">
						<label>What types of Consultation required</label> 
						<!--
						<div class="tab-content">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item profile">
									<a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Strategy Consulting<span class="nmbr">4</span></a>
								</li>
								<li class="nav-item hr">
									<a class="nav-link" href="#hr" role="tab" data-toggle="tab">HR</a>
								</li>
								<li class="nav-item marketing">
									<a class="nav-link" href="#marketing" role="tab" data-toggle="tab">Marketing</a>
								</li>
								<li class="nav-item account-finance">
									<a class="nav-link" href="#account-finance" role="tab" data-toggle="tab">Account & Finance</a>
								</li>
								<li class="nav-item investment">
									<a class="nav-link" href="#investment" role="tab" data-toggle="tab">Investment & Deal Advisory <span class="nmbr">2</span></a>
								</li>
								<li class="nav-item sales">
									<a class="nav-link" href="#sales" role="tab" data-toggle="tab">Sales & Operations</a>
								</li>
								<li class="nav-item technology">
									<a class="nav-link" href="#technology" role="tab" data-toggle="tab">Technology</a>
								</li>
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane in active" id="profile">
									<div class="checkbox-content">
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="1" type="checkbox">
											<label for="1" class="label">
												<span>Business Strategy</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="2" type="checkbox">
											<label for="2" class="label">
												<span>Cost Reduction</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="3" type="checkbox">
											<label for="3" class="label">
												<span>Compliance & Risk</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="4" type="checkbox">
											<label for="4" class="label">
												<span>Customer Segmation</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="5" type="checkbox">
											<label for="5" class="label">
												<span>Program Delivery</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="6" type="checkbox">
											<label for="6" class="label">
												<span>Process Improvement</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="7" type="checkbox">
											<label for="7" class="label">
												<span>Business Transformation</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="8" type="checkbox">
											<label for="8" class="label">
												<span>Commercial Due Diligence</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="9" type="checkbox">
											<label for="9" class="label">
												<span>Commercial Due Diligence</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="10" type="checkbox">
											<label for="10" class="label">
												<span>CEO/COO Advisory</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="11" type="checkbox">
											<label for="11" class="label">
												<span>New Product Launch</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="12" type="checkbox">
											<label for="12" class="label">
												<span>Corporate Developement</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="13" type="checkbox">
											<label for="13" class="label">
												<span>Commercial Due Diligence</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="14" type="checkbox">
											<label for="14" class="label">
												<span>Program Delivery</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="15" type="checkbox">
											<label for="15" class="label">
												<span>Business Strategy</span>
											</label>											
										</div>
										<div class="checkbox-design">
											<input name="first" class="checkbox" id="16" type="checkbox">
											<label for="16" class="label">
												<span>Cost Reduction</span>
											</label>											
										</div>
									</div> 
								</div>
								<div role="tabpanel" class="tab-pane fade" id="hr">This is HR tab</div>
								<div role="tabpanel" class="tab-pane fade" id="marketing">This is marketing tab</div>
								<div role="tabpanel" class="tab-pane fade" id="account-finance">This is account-finance tab</div>
								<div role="tabpanel" class="tab-pane fade" id="investment">This is investment tab</div>
								<div role="tabpanel" class="tab-pane fade" id="sales">This is sales tab</div>
								<div role="tabpanel" class="tab-pane fade" id="technology">This is technology tab</div>
							</div> 
						</div>
						-->
						<div class="clr consultation-wrap">
							<span class="label-content">industries</span>
							<a href="javascript:void(0);" class="add-content"></a> 
							<div class="consultation-container">
								<p>Loream Ipsum </p>
							</div>
						</div>
						<div class="clr consultation-wrap">
							<span class="label-content">skills</span>
							<a href="javascript:void(0);" class="add-content"></a> 
							<div class="consultation-container">
								<a href="javascript:void(0);" class="btn">HTML</a>
								<a href="javascript:void(0);" class="btn">CSS</a>
								<a href="javascript:void(0);" class="btn">Photoshop</a>
								<a href="javascript:void(0);" class="btn">New Product Launch</a>	
							</div>
						</div>
					</div>
					<div class="form-group two-part">
						<div class="col-md-6 pl">
							<div class="onsite common clr"> 
								<h3>On site consultation required ?</h3>
								<div class="radio clr">
									<div class="radio-button">
										<input type="radio" name="radio" id="no">
										<label class="label" for="no"> 
											<span>No</span> 
										</label>
									</div>
									<div class="radio-button">
										<input type="radio" name="radio" id="yes">
										<label class="label" for="yes"> 
											<span>Yes</span> 
										</label>
									</div>
								</div>
								<div class="form-group">
									<label>Location</label>
									<select class="select">
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6 pr">
							<div class=" start-date common clr">
								<h3>Start date and Durations</h3>
								<div class="radio clr">
									<div class="radio-button">
										<input type="radio" name="radio1" id="asap">
										<label class="label" for="asap"> 
											<span>ASAP</span> 
										</label>
									</div>
									<div class="radio-button">
										<input type="radio" name="radio1" id="start-date">
										<label class="label" for="start-date"> 
											<span>Start Date</span> 
										</label>
									</div>
								</div>
								<div class="form-group">
									<label>Date</label>
									<div class="clr" id="sandbox-container">
										<input type="text" class="form-control">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="col-md-6 duration">
							<div class="form-group">
								<label>Duration</label>
								<div class="form-group">
									<input class="form-control" name="time" type="text">
									<select class="select">
										<option>Days</option>
										<option>high</option>
										<option>low</option>
									</select>
								</div>	
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label>Effort (Hrs per Week)</label>  
								<select class="select">
									<option>Medium (around 15-35 hrs per week)</option>
									<option>high</option>
									<option>low</option>
								</select>
							</div>	
						</div>
					</div>
					
					<div class="form-group budgets"> 
						<label>What's Your Budget ?</label> 
						<div class="tab-content">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item fixed-price">
									<a class="nav-link" href="#fixed-price" role="tab" data-toggle="tab">Fixed Price</a>
								</li>
								<li class="nav-item payperhour">
									<a class="nav-link active" href="#payperhour" role="tab" data-toggle="tab">Pay per hour/day/week/month</a>
								</li>								
							</ul>
							<div class="tab-content">
								<div role="tabpanel" class="tab-pane fade" id="fixed-price">								
									<div class="budget">
										<div class="budget-content">
											<label>Minimum budget</label>
											<div class="doller"><input type="text" class="form-control" placeholder="0.00"></div>
										</div>
										<div class="budget-content">
											<label>Maximum budget</label>
											<div class="doller"><input type="text" class="form-control" placeholder="0.00"></div>
										</div>
									</div>
									<div class="form-group hour">  
										<label style="opacity:0;">Maximum budget</label>
										<select class="select">
											<option>Per Hour</option>
											<option>Daily</option>
											<option>Week</option>
										</select>
									</div>
									<div class="approx_time">
										<label>Minimum budget</label>
										<div class="form-group">
											<input type="text" class="form-control" name="time">
										</div>
										<div class="form-group hour">  
											<select class="select">
												<option>Months</option>
												<option>Day</option>
												<option>Year</option>
											</select>
										</div>
									</div>
								</div>
								<div role="tabpanel" class="tab-pane in active" id="payperhour">
									<div class="budget">
										<div class="budget-content">
											<label>Minimum budget</label>
											<div class="doller"><input type="text" class="form-control" placeholder="0.00"></div>
										</div>
										<div class="budget-content">
											<label>Maximum budget</label>
											<div class="doller"><input type="text" class="form-control" placeholder="0.00"></div>
										</div>
									</div>
									<div class="form-group hour">  
										<label style="margin-bottom:3px;">&nbsp;</label>
										<select class="select">
											<option>Per Hour</option>
											<option>Daily</option>
											<option>Week</option>
										</select>
									</div>
									<div class="approx_time">
										<label>Minimum budget</label>
										<div class="form-group">
											<input type="text" class="form-control" name="time">
										</div>
										<div class="form-group hour">  
											<select class="select">
												<option>Months</option>
												<option>Day</option>
												<option>Year</option>
											</select>
										</div>
									</div>
								</div>
							</div> 
						</div>
					</div>
					<div class="clr add-note">
						<a href="javascript:void(0);">+ Add notes</a>
						<div class="form-group"> 
							<textarea style="display:none;" name="project-description" class="form-control"></textarea>
						</div>
					</div>
					<div class="form-group">
						<label>Screening Question</label> 
						<div class="textarea-img"><img src="assets/Vedak/images/textarea.jpg"></div>
						<textarea name="project-description" class="form-control"></textarea>
						<span class="char-count">(Minimum 250 Characters)</span> 
					</div>
					<div class="form-group buttons">
						<input type="submit" class="btn btn-primary" value="Send Request">
						<a href="javascript:void(0);" class="btn btn-primary">Cancel</a> 
					</div>
				</form>
			</div>
		</section>
		<footer class="clr">
			<div class="footer-content clr">
				<div class="copyright">copyright@2017 Vedak.co. All rights reserved.</div>
				<ul>
					<li><a href="#">Privacy Policy</a></li>
					<li><a href="#">Terms of Use</a></li>
				</ul>
			</div>
		</footer>
	</section>